@if(!loading()){
@if(!isMobile()){
<div class="two-cols">
  <!-- Tabla izquierda -->
  <p-table class="tbl--dense tbl--no-lines" [value]="left()" dataKey="codeInstrument" [customSort]="true"
    [sortField]="sortField()" [sortOrder]="sortOrder()" (sortFunction)="onSort($event)">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="shortName">Nombre <p-sortIcon field="shortName" /></th>
        <th class="cell-num" pSortableColumn="lastPrice">
          Último <p-sortIcon field="lastPrice" />
        </th>
        <th class="cell-num" pSortableColumn="volumeMoney">
          Monto (MM) <p-sortIcon field="volumeMoney" />
        </th>
        <th class="cell-num" pSortableColumn="pctDay">Var día <p-sortIcon field="pctDay" /></th>
        <th class="cell-num" pSortableColumn="pct30D">Var 30d <p-sortIcon field="pct30D" /></th>
        <th class="cell-num" pSortableColumn="pctCY">
          Año Actual <p-sortIcon field="pctCY" />
        </th>
        <th class="cell-num" pSortableColumn="pct1Y">12 Meses <p-sortIcon field="pct1Y" /></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-r>
      <app-instrument-item [instrument]="r"></app-instrument-item>
    </ng-template>
  </p-table>
  <p-table class="tbl--dense tbl--no-lines" [value]="right()" dataKey="codeInstrument" [customSort]="true"
    [sortField]="sortField()" [sortOrder]="sortOrder()" (sortFunction)="onSort($event)">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="shortName">Nombre <p-sortIcon field="shortName" /></th>
        <th class="cell-num" pSortableColumn="lastPrice">
          Último <p-sortIcon field="lastPrice" />
        </th>
        <th class="cell-num" pSortableColumn="volumeMoney">
          Monto (MM) <p-sortIcon field="volumeMoney" />
        </th>
        <th class="cell-num" pSortableColumn="pctDay">Var día <p-sortIcon field="pctDay" /></th>
        <th class="cell-num" pSortableColumn="pct30D">Var 30d <p-sortIcon field="pct30D" /></th>
        <th class="cell-num" pSortableColumn="pctCY">
          Año Actual <p-sortIcon field="pctCY" />
        </th>
        <th class="cell-num" pSortableColumn="pct1Y">12 Meses <p-sortIcon field="pct1Y" /></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-r>
      <app-instrument-item [instrument]="r"></app-instrument-item>
    </ng-template>
  </p-table>
</div>
} @else{
<div class="single-table">
  <p-table class="tbl--dense tbl--no-lines" [value]="filteredSorted()" dataKey="codeInstrument" [customSort]="true"
    [sortField]="sortField()" [sortOrder]="sortOrder()" (sortFunction)="onSort($event)">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="shortName">Nombre <p-sortIcon field="shortName" /></th>
        <th class="cell-num" pSortableColumn="lastPrice">
          Último <p-sortIcon field="lastPrice" />
        </th>
        <th class="cell-num" pSortableColumn="volumeMoney">
          Monto (MM) <p-sortIcon field="volumeMoney" />
        </th>
        <th class="cell-num" pSortableColumn="pctDay">Var día <p-sortIcon field="pctDay" /></th>
        <th class="cell-num" pSortableColumn="pct30D">Var 30d <p-sortIcon field="pct30D" /></th>
        <th class="cell-num" pSortableColumn="pctCY">
          Año Actual <p-sortIcon field="pctCY" />
        </th>
        <th class="cell-num" pSortableColumn="pct1Y">12 Meses <p-sortIcon field="pct1Y" /></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-r>
      <app-instrument-item [instrument]="r"></app-instrument-item>
    </ng-template>
  </p-table>
</div>
}
}@else{
<p>Cargando…</p>

}
