:host {
  display: block;
}

.chart-wrap {
  padding: 1rem;
  background: var(--app-surface-1);
  border-radius: 10px;
}

.info {
  display: flex;
  gap: .75rem;
  align-items: baseline;
  margin-top: .5rem;
  color: var(--app-text);
}

.code {
  opacity: .8;
  font-size: .9rem;
}


.chart-toolbar {
  display: flex;
  align-items: flex-start;
  gap: .75rem;
  margin-bottom: .5rem;

  :host ::ng-deep .p-popover {
    padding: .5rem;
  }
}

.date-filters{
  display: flex;
  gap: 16px;
}
