:host {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.principal-content {
  display: flex;
  gap: 16px;

  .selected-constituens {
    flex: 3;
  }
}

@media (max-width: 960px) {
  .principal-content {
    flex-direction: column;

    .selected-constituens {
      flex: none;
    }

    app-summary {
      width: 100%;
    }
  }
}
